[submodule "SubModules/fpc-common"]
	path = SubModules/fpc-common
	url = https://github.com/bmmlms/fpc-common.git
[submodule "SubModules/TRegExpr"]
	path = SubModules/TRegExpr
	url = https://github.com/Alexey-T/TRegExpr.git
[submodule "SubModules/DDetours"]
	path = SubModules/DDetours
	url = https://github.com/MahdiSafsafi/DDetours
