A ICON ".\\ico\\appicon\\combined.ico"
MISC RCDATA ".\\png\\misc.png"
START RCDATA ".\\png\\record.png"
FILENAMES RCDATA ".\\png\\script_edit.png"
FILENAMESEXT RCDATA ".\\png\\script_gear.png"
CUT RCDATA ".\\png\\cut.png"
PLUGINS ICON ".\\ico\\plugin.ico"
ADDONS_PNG RCDATA ".\\png\\plugin.png"
EXTAPPS ICON ".\\ico\\application-terminal.ico"
BLACKLIST RCDATA ".\\png\\blacklist.png"
BANDWIDTH RCDATA ".\\png\\connect2.png"
SEARCH ICON ".\\ico\\system-search.ico"
ADD ICON ".\\ico\\list-add.ico"
VOLUME RCDATA ".\\png\\speaker-volume.png"
VOLUME_MUTED RCDATA ".\\png\\speaker-volume-control-mute.png"
ARROWUP RCDATA ".\\png\\arrow-090.png"
ARROWDOWN RCDATA ".\\png\\arrow-270.png"
CONFIGURE RCDATA ".\\png\\cog_go.png"
LIGHTNING RCDATA ".\\png\\lightning.png"
KEYBOARD RCDATA ".\\png\\keyboard.png"
CONNECT_15 ICON ".\\ico\\connect_15.ico"
DISCONNECT_15 ICON ".\\ico\\disconnect_15.ico"
USER_ENABLED_15 ICON ".\\ico\\user-enabled_15.ico"
USER_DISABLED_15 ICON ".\\ico\\user-disabled_15.ico"
GROUP_PNG RCDATA ".\\png\\group.png"
AUTO_ENABLED_15 ICON ".\\ico\\auto-enabled_15.ico"
AUTO_DISABLED_15 ICON ".\\ico\\auto-disabled_15.ico"
GROUP_15 ICON ".\\ico\\group_15.ico"
RECORD_15 ICON ".\\ico\\record_15.ico"
BROWSER_METADATA RCDATA ".\\png\\streambrowser_pencil.png"
BROWSER_CHANGESTITLE RCDATA ".\\png\\streambrowser_cross.png"
IGNORE RCDATA ".\\png\\delete.png"
AUTORECORD RCDATA ".\\png\\block.png"
APPICON RCDATA ".\\png\\appicon\\iconneu16.png"
SPLASHIMAGE RCDATA ".\\png\\splash2.png"
COVER_EMPTY RCDATA ".\\png\\cover-empty.png"
STREAM RCDATA ".\\png\\transmit_blue.png"