A ICON ".\ico\logo.ico"
MISC ICON ".\ico\misc.ico"
START ICON ".\ico\record.ico"
CUT ICON ".\ico\cut.ico"
PLUGINS ICON ".\ico\plugin.ico"
SEARCH ICON ".\ico\system-search.ico"
ADD ICON ".\ico\list-add.ico"
VOLUME ICON ".\ico\speaker-volume.ico"