A ICON ".\\ico\\appicon\\combined.ico"
MISC ICON ".\\ico\\misc.ico"
START ICON ".\\ico\\record.ico"
CUT ICON ".\\ico\\cut.ico"
PLUGINS ICON ".\\ico\\plugin.ico"
EXTAPPS ICON ".\\ico\\application-terminal.ico"
SEARCH ICON ".\\ico\\system-search.ico"
ADD ICON ".\\ico\\list-add.ico"
VOLUME ICON ".\\ico\\speaker-volume.ico"
ARROWUP ICON ".\\ico\\arrow-090.ico"
ARROWDOWN ICON ".\\ico\\arrow-270.ico"
LIGHTNING ICON ".\\ico\\lightning.ico"
KEYBOARD ICON ".\\ico\\keyboard.ico"
